.container {    
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}
.box {
    border: 1px solid grey;
    padding: 1rem;
    width: 600px;
    justify-content: center;
}


label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    
}
h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

select {
        font-family: 'Open Sans', sans-serif;
        font-size: 14pt;
}

#campo-cadastro, #cep, #estado, #cidade, #bairro, #rua {
    
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;    
    margin-bottom: 0.5rem;  
     width: 60%; /* Full width */
  padding: 3px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
     
    
}

input .termos {
    width: 1%;
}

.botaocadastro {
   margin: 0 auto;
}


a {
    text-decoration: none;
}